/*  RESET CSS  */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: 0;
	box-sizing: border-box;
}
/*  TERMINA RESET CSS  */



/*  AJUSTES GLOBALES */
:root {
  --black: #1c1d01;
  --grey: #757575;
  --greyclean: #bbbbbb;
  --white: #ffffff;
  --yellow: #fcec11;
  --yellowclean: #fff99e;

}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 20px;
  font-family: 'Mali', cursive; 
   background-image: linear-gradient(to top, var(--greyclean) 0%, var(--white) 50%);
}

.boxshadow {
  -webkit-box-shadow: 0px 1px 7px 0px rgba(117,117,117,1);
  -moz-box-shadow: 0px 1px 7px 0px rgba(117,117,117,1);
  box-shadow: 0px 1px 7px 0px rgba(117,117,117,1);
  background-color: var(--white);
}

.boxborder {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px double #000000;
}

/* TERMINA AJUSTES GLOBALES */




/*  HEADER   */

.titulo {
  font-size: 25px;
  text-align: center;
  color: var(--black);
  font-family: 'Courgette', cursive;
}

.titulo span {
  font-size: 20px;
  color: var(--grey);
}

/*  TERMINA header  */



/*  BARRA DE NAVEGACIÓN  */

.nav-background{
  background-color: var(--grey);
  padding: 10px;
}


.nav{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}


.nav-logo{
  text-align: center;
}

.nav-logo a, .nav-logo img, .nav-logo a span{
  border:0;
  padding:0;
  margin:0;
}

.nav-logo a{
  position: relative;
  display: inline-block;
}

.nav-logo a span{
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0px;
  left: 0px;
}

.nav-logo a:hover span{
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.5s ease-in-out;   /* IE9 */
  -moz-transition: all 0.5s ease-in-out;      /* Firefox */
  -o-transition: all 0.5s ease-in-out;        /* Opera */
  -ms-transition: all 0.5s ease-in-out;       /* Safari and Chrome */
  transition: all 0.5s ease-in-out;           /* IE9 */
}


.nav-cv{
  text-align: center;
}

.nav-cv a, .nav-cv img, .nav-cv a span{
  border:0;
  padding:0;
  margin:0;
}

.nav-cv a{
  position: relative;
  display: inline-block;
}

.nav-cv a span{
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0px;
  left: 0px;
}

.nav-cv a:hover span{
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}


.nav-links {
  text-transform: uppercase;
}

.nav-links a{
  padding: 9px 15px 10px 15px;
  color: var(--white);
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
}

.nav-links a:hover{
  background-color: var(--black);
  color: var(--yellow);
  transition: 500ms;
}


.nav-responsive{
display: none;
}

.nav-toggle {
  background: none;
  border: none;
  cursor: pointer;
}

/*  TERMINA BARRA DE NAVEGACIÓN */



/*  COMIENZA BARRA DE ICONOS  */

.bar-icons {
  padding: 10px;
}

.bar-icons_list {
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
  margin: 0 auto;
  list-style: none;
}

.bar-icons_item {
  font-size: 25px;
  margin: 0 15px;
}

.bar-icons_item i {
  color: var(--grey);
  user-select: none;
}

.bar-icons_item i:hover {
  background-color: var(--black);
  background-size:contain;
  color: var(--yellow);
  transition: 500ms;
}

/*  TERMINA BARRA DE ICONOS  */



/*  COMIENZA BANNER  */


.banner {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}


/* TERMINA BANNER */



/* COMIENZA MAIN */

.main {
  max-width: 120rem;
  margin: 20px auto;
  padding: 20px;
}

.main h2 {
  color: var(--black);
  font-weight: 900;
  text-align: center;
  padding: 20px;
}

.main h3 {
  color: var(--grey);
  text-align: center;
}



.main-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 30px 20px;
}

.main-service p {
  color: var(--grey);
  line-height: 2;
  text-align: justify;
}



.main-serv_icons {
  font-size: 40px;
  height: 130px;
  width: 130px;
  background-color: var(--yellow);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.main-serv_icons i{
  color: var(--black);
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
}

.main-serv_icons i:hover,
.main-serv_icons i:focus,
.main-serv_icons i:active {
  transform: scale(1.2);
}



.main-contact {
  padding: 20px 0px;
}

.main-form {
background-color: var(--grey);
width: min(600px, 100%); /* Utiliza el valo más pequeño */
margin: 0 auto;
padding: 20px;
border-radius: 10px;
}

.main-form fieldset {
  border: none;
}

.main-form legend {
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--yellow);
}



.main-form_camp {
  margin-bottom: 10px;
}

.main-form_camp label {
  color: var(--white);
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.main-form_input {
  width: 100%;
  border: none;
  padding: 15px;
  border-radius: 5px;
}



.main-location {
  margin: 60px 40px 40px;
  text-align: center;
}

.main-location i {
  padding: 10px;
  font-size: 80px;
}

.main-location p {
  line-height: 2;
}

.main-location a {
  text-decoration: none;
  color: var(--grey);
  font-weight: bold;
}

/* TERMINA MAIN */




/* COMIENZA PIE DE PÁGINA */

.footer {
  background-color: var(--grey);
  padding: 40px;
  margin: 0 auto;
}

.disclaimer {
  color: var(--white);
  font-weight: bold;
  text-align: center;
}

/* TERMINA PIE DE PÁGINA */




/* COMIENZA MEDIA QUERIES */

@media (max-width: 968px) {
  .nav {
    flex-direction: column;  
    align-items: center;
    row-gap: 30px;
  }

  .nav-links {
  display: flex;
  justify-content: space-evenly;
  align-self: stretch;
  row-gap: 20px;
  }
}

@media (max-width: 668px){
  .nav-responsive {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
  }

  .nav-links {
    flex-direction: column;
    align-items: center; 
  }

  .nav-logo_hider, .nav-links_hider, .nav-cv_hider {
    display: none;
  }

  .nav-toggle:focus:not(:focus-visible){
    outline: none;
  }
}

@media (min-width: 668px){
  .main-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* TERMINAN MEDIA QUERIES */


 



