/*  RESET CSS  */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

/* VARIABLES Y AJUSTES GLOBALES */

:root {
  --primary-color: #14274e;
  --secondary-color: #f1f6f9;
  --terciary-color: #51e3d4;
  --light-color: #fdf8b4;
  --dark-color: #202020;
  --neutral-color: #bbbbbb;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-size: 2rem;
  font-family: Helvetica, sans-serif;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.boxshadow {
  -webkit-box-shadow: 0px 1px 7px 0px var(--primary-color);
  -moz-box-shadow: 0px 1px 7px 0px var(--primary-color);
  box-shadow: 0px 1px 7px 0px var(--primary-color);
  background-color: var(--secondary-color);
}

.boxborder {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px double var(--dark-color);
}

/*  ESTILOS NAVBAR  */

.nav-menu__background {
  background-color: var(--primary-color);
  top: 0;
  padding: 0.7rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 120rem;
  margin: 0 auto;
}

/* Tamaño Logos */
.nav-menu .nav-logo img {
  width: 5.5rem;
  height: 5.5rem;
}

.footer .nav-logo img {
  width: 7.7rem;
  height: 7.7rem;
}

/* Logo Footer */
.nav-logo {
  text-align: center;
}

/* Animación Logo */
.nav-logo a,
.nav-logo img,
.nav-logo a span {
  border: 0;
  padding: 0;
  margin: 0;
}

.nav-logo a {
  position: relative;
  display: inline-block;
}

.nav-logo a span {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
}

.nav-logo a:hover span {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.5s ease-in-out; /* IE9 */
  -moz-transition: all 0.5s ease-in-out; /* Firefox */
  -o-transition: all 0.5s ease-in-out; /* Opera */
  -ms-transition: all 0.5s ease-in-out; /* Safari and Chrome */
  transition: all 0.5s ease-in-out; /* IE9 */
  transform: rotate(360deg);
  transition: transform 1s;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links a {
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 1.7rem;
  text-decoration: none;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 1rem;
}

.nav-links a i {
  padding: 0.5rem;
}

.nav-links a:hover {
  color: var(--terciary-color);
  transition: 500ms;
}

.nav-mobile {
  display: none;
}

.nav-toggle {
  background: none;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav-toggle img {
  width: 4rem;
  height: 3rem;
}

/*  ESTILOS SOCIAL NAVBAR  */

.bar-icons {
  padding: 1rem;
}

.bar-icons_list {
  display: flex;
  justify-content: flex-end;
  max-width: 120rem;
  margin: 0 auto;
  list-style: none;
}

.bar-icons_item {
  font-size: 2.5rem;
  margin: 0 1.5rem;
}

.bar-icons_item a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.7rem;
  font-weight: bold;
}

.bar-icons_item i {
  color: var(--primary-color);
  user-select: none;
  font-size: 2.2rem;
}

.bar-icons_item i:hover {
  background-color: var(--dark-color);
  background-size: contain;
  color: var(--terciary-color);
  transition: 500ms;
}

/* ESTILOS MAIN */

.main {
  max-width: 120rem;
  margin: 2rem auto;
  padding: 1.5rem;
}

.main h2 {
  color: var(--dark-color);
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 4rem;
  padding: 2rem;
  font-size: 2.2rem;
}

.main h3 {
  color: var(--primary-color);
  text-align: center;
  font-size: 1.85rem;
  margin-top: 2rem;
}

.main-description {
  padding: 1rem;
  margin-bottom: 10rem;
}

.main-skill,
.main-technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  padding: 1rem;
}

.main-description p,
.main-skill p {
  color: var(--primary-color);
  line-height: 2;
  user-select: none;
  text-align: center;
}

.main-description a,
.main-skills__grid a,
.main-certificates a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

.main-skill__img {
  padding: 0.3rem;
  border: 1px var(--neutral-color) solid;
  border-radius: 10%;
}

.main-technologies {
  max-width: 85rem;
  margin: 10rem auto;
}

.main-technologies__flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 4rem;
}

.main-technology {
  padding: 0 2rem;
}

.main-technology i {
  font-size: 4rem;
  color: var(--primary-color);
}

.main-certificates {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.main-certificates__item {
  margin: 1rem;
}

.main-certificates__item img {
  width: 100%;
  cursor: pointer;
}

.main-certificates__item p {
  text-align: center;
  color: var(--primary-color);
  padding: 1rem;
}

.main-certificates #img-active {
  width: 100%;
  height: auto;
}

.certificate__intern-container > button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: absolute;
}

.certificate__intern-container #btn-img_close {
  color: var(--secondary-color);
  top: 0;
  right: 0;
  font-size: 3rem;
  margin-right: 1rem;
}
.certificate__intern-container #btn-img_forward {
  color: var(--primary-color);
  top: 50%;
  right: 0;
  font-size: 3rem;
  margin-right: 1rem;
}
.certificate__intern-container #btn-img_backward {
  color: var(--primary-color);
  top: 50%;
  left: 0;
  font-size: 3rem;
  margin-left: 1rem;
}

.certificate__principal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.65);
}

.certificate__intern-container {
  width: 70rem;
  height: 50rem;
  border: 0.2rem var(--secondary-color) solid;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.main-certificates__verify {
  margin: 2rem;
}

.main-certificates__verify p {
  text-align: center;
  color: var(--primary-color);
  padding: 1rem;
  line-height: 4rem;
}

.main-location {
  padding: 2rem;
  text-align: center;
}

.main-location h2 {
  margin-top: 2rem;
  padding: 2rem;
}

.main-location i {
  padding: 1rem;
  font-size: 4rem;
}

.main-location p {
  margin-bottom: 4rem;
  line-height: 2;
}

.main-location a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  padding: 1rem;
  border-radius: 1rem;
}

.main-location a i {
  font-size: 2rem;
}

/* ESTILOS FOOTER */

.footer {
  background-color: var(--primary-color);
  padding: 2rem;
  margin: 0 auto;
}

.footer--bar_list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer--bar_list i {
  color: var(--secondary-color);
}

.footer--disclaimer {
  color: var(--secondary-color);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.footer--legal {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.footer--legal a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
}

.footer--legal a:hover {
  color: var(--terciary-color);
  transition: 300ms;
}

/* ESTILOS PORTAFOLIO */
.ejercicios-js {
  margin: 1rem;
  margin-bottom: 4rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 4rem;
}

.ejercicios-js figure {
  margin-top: 2rem;
  border: 1px solid gray;
  max-width: 70rem;
  padding: 1rem;
  border-radius: 1rem;
}

.ejercicios-js figure img {
  text-align: center;
  width: 100%;
}

.ejercicios-js p {
  margin-top: 2rem;
  font-size: 2rem;
  line-height: 3rem;
}

.ejercicios-js p a {
  margin-top: 2rem;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

/* ESTILOS FORMULARIO DE CONTACTO */

.main-contact {
  margin: 1rem 0rem;
  padding: 1rem 0rem;
}

.contact-form {
  background-color: var(--primary-color);
  width: min(60rem, 100%); /* Utiliza el valo más pequeño */
  margin: 0 auto;
  padding: 2rem;
  border: 0.4rem var(--neutral-color) solid;
  border-radius: 1rem;
}

.contact-form fieldset {
  border: none;
}

.contact-form fieldset legend {
  margin: auto;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--light-color);
}

.contact-form__camp {
  margin-bottom: 2rem;
}

.contact-form__camp label {
  color: var(--secondary-color);
  font-weight: bold;
  margin: 0.5rem 0rem;
  display: block;
}

.contact-form__input {
  width: 100%;
  font-size: 2rem;
  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.contact-form__button {
  background-color: var(--light-color);
  color: var(--dark-color);
  padding: 1rem 3rem;
  margin-top: 3rem;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  border-radius: 0.5rem;
  text-align: center;
  border: none;
}

.contact-form__button:hover {
  cursor: pointer;
  background-color: var(--terciary-color);
}

.form__button_right {
  display: flex;
  justify-content: flex-end;
}

/*  Netlify Honeypot Validation  */
.formInputHidden {
  display: none;
}

/*  Success Page  */
.main-success {
  margin: 2rem auto;
  width: 50rem;
  background-color: aquamarine;
  text-align: center;
  border: 1px solid var(--neutral-color);
  border-radius: 1rem;
}

.main-success h3 {
  margin: 2rem;
}

.main-success i {
  padding: 0.5rem;
  color: var(--dark-color);
  font-size: 2rem;
}

.main-success p {
  margin: 2rem;
}

/* ANIMACIONES EFECTOS HOVER */

/* Icon Up */

@-webkit-keyframes hvr-icon-up {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
  75% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}
@keyframes hvr-icon-up {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
  75% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
}

.hvr-icon-up {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-up .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-up:hover .hvr-icon,
.hvr-icon-up:focus .hvr-icon,
.hvr-icon-up:active .hvr-icon {
  -webkit-animation-name: hvr-icon-up;
  animation-name: hvr-icon-up;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

/* Icon Down */

@-webkit-keyframes hvr-icon-down {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
  75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes hvr-icon-down {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25%,
  75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

.hvr-icon-down {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-down .hvr-icon2 {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-down:hover .hvr-icon2,
.hvr-icon-down:focus .hvr-icon2,
.hvr-icon-down:active .hvr-icon2 {
  -webkit-animation-name: hvr-icon-down;
  animation-name: hvr-icon-down;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

/* Icon Forward */

.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.hvr-icon-forward .hvr-icon3 {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-forward:hover .hvr-icon3,
.hvr-icon-forward:focus .hvr-icon3,
.hvr-icon-forward:active .hvr-icon3 {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

/* Grow */

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* RESPONSIVE / MEDIA QUERIES */

@media (max-width: 720px) {
  .nav-menu {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }

  .nav-links {
    justify-content: space-evenly;
    align-self: stretch;
    margin-bottom: 1rem;
  }

  .ejercicios-js {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

@media (max-width: 640px) {
  .nav-mobile {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
    height: 90vh;
  }

  .nav-links a {
    font-size: 1.8rem;
  }

  .nav-logo_hider,
  .nav-links_hider {
    display: none;
  }

  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }

  .certificate__intern-container {
    width: 50rem;
    height: 35rem;
  }

  .contact-form__button {
    width: 100%;
  }

  .main {
    padding: 1.5rem 0rem;
  }
}

@media (min-width: 960px) {
  .main-skills__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
  }

  .main-certificates__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
  }
}
